<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/_header.ejs") %>

  <body>
    <%- include("./partials/_nav.ejs") %>

    <h1>Ooops! Page Not Found</h1>
    <%- include("./partials/_footer.ejs") %>
  </body>
</html>
