<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/_header.ejs") %>

  <body>
    <%- include("./partials/_nav.ejs") %>

    <h1>This is the about page</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia quod
      perspiciatis sequi sunt magnam blanditiis ratione maiores, unde id,
      similique repellat eaque dolor doloremque asperiores impedit deserunt esse
      temporibus eum? Dolor, soluta vitae ipsum cumque, ad veritatis blanditiis
      quod quo debitis perferendis repellat aliquam ipsa placeat, tempore
      laborum magni nam voluptatibus aliquid libero! Tempore porro dolore fugit
      aspernatur tenetur consequatur! Modi similique cupiditate nesciunt culpa
      quod unde voluptatem laboriosam officia ut aliquam? Similique ipsam, magni
      praesentium ad asperiores voluptatem, dicta, id corrupti laboriosam
      voluptatum consequuntur. Voluptatibus excepturi veritatis consequuntur
      mollitia.
    </p>
    <%- include("./partials/_footer.ejs") %>
  </body>
</html>
