<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/_header.ejs") %>

  <body>
    <%- include("./partials/_nav.ejs") %>

    <div><h1>Create a new user</h1></div>
    <div class="create-user">
      <form action="/api/users" method="POST" id="create_user">
        <label for="name">Username:</label>
        <input type="text" id="name" name="name" required />
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required />
        <label
          >Birth Date:
          <input type="date" id="birthDate" name="birthDate" required />
        </label>
        <label for="status">Activity Status:</label>
        <label>
          <input type="radio" id="radio-1" name="status" value="active" />
          Active
        </label>
        <label>
          <input type="radio" id="radio-2" name="status" value="suspended" />
          Suspended
        </label>
        <label>
          <input type="radio" id="radio-3" name="status" value="archived" />
          Archived
        </label>
        <button type="submit">Submit</button>
      </form>
    </div>
    <%- include("./partials/_footer.ejs") %>
  </body>
</html>
